body {
  margin: 0;
  background-color: rgba(40, 45, 53, 1);
  font-family: "Inter", sans-serif;
}
h1 {
  font-size: 40px;
  line-height: 1.1;
  margin: 0 25px;
}
header {
  background: rgba(33, 34, 42, 1);
  height: 91px;
  padding: 20px 23px;
}
nav {
  display: flex;
  align-items: center;
  height: 100%;
}
nav img {
  width: 50px;
  margin-right: 6px;
}
nav span {
  color: rgba(97, 218, 251, 1);
  font-size: 40px;
  font-weight: 700;
}
.reasons-list {
  font-size: 18px;
  margin-top: 40px;
  max-width: 700px;
}
.reasons-list > li {
  margin-block: 15px;
}
main {
  color: white;
  padding: 50px 30px;
  background-image: url("assets/reactjs-icon.png");
  background-repeat: no-repeat;
  background-position: right 95%;
}

.reasons-list > li::marker {
  color: rgba(97, 218, 251, 1);
  font-size: 20px;
}
